# 编译生成的可执行文件
weel*/**/*
!week*/**/*.cpp
!week*/**/*.h
!week*/**/*.hpp
!week*/**/*.txt
!week*/**/*.md
!week*/**/*.json
!week*/**/*.cmake

# CMake构建产物
build/
cmake-build-*/

# 操作系统生成的文件
.DS_Store
Thumbs.db
